<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test2-API </title>

    <script type="text/javascript" src="static/JS/client.js"></script>
    <script type="text/javascript" src="static/JS/sha3.js"></script>
    <script type="text/javascript" src="static/JS/crypto-client.js"></script>
    <script type="text/javascript" src="static/JS/terahashlib.js"></script>
    <script type="text/javascript" src="static/JS/wallet-lib.js"></script>
    <script type="text/javascript" src="static/JS/sign-lib-min.js"></script>

    <script>

        //Init
        window.onload=function ()
        {
            window.DELTA_FOR_TIME_TX=4;
            window.MainServer={ip:"dappsgate.com",port:80};

            //run every 1 sec for getting current block number and network time
            {#setInterval(function ()#}
            {#{#}
            {#    GetData("GetCurrentInfo",{}, function (Data)#}
            {#    {#}
            {#        if(Data && Data.result)#}
            {#            SetBlockChainConstant(Data);#}
            {#    });#}
            {#},1000);#}
        }

        //Use API
        function SignTr()
        {
            var PrivKey=$("idPrivKey").value;
            var TR=JSON.parse($("idTr").value);

            GetSignTransaction(TR,PrivKey,function ()
            {
                TR.Sign=GetHexFromArr(TR.Sign);
                $("idTr").value=JSON.stringify(TR,"",4);
            });
        }

        function GetHexFromTr()
        {
            var TR=JSON.parse($("idTr").value);
            var Body=GetArrFromTR(TR);
            if(!TR.Sign)
            {
                $("idOut").value="Error: sign tx";
                return "";
            }

            var Arr=GetArrFromHex(TR.Sign);
            WriteArr(Body,Arr,64);
            Body.length+=12;
            CreateHashBodyPOWInnerMinPower(Body);
            var StrHex=GetHexFromArr(Body);

            $("idOut").value=StrHex;
            return StrHex;
        }

        function SendTr()
        {
            var StrHex=GetHexFromTr();
            if(!StrHex)
                return;

            GetData("SendTransactionHex",{Hex:StrHex}, function (Data)
            {
                if(Data && Data.result)
                {
                    $("idOut").value=Data.text;
                }
                else
                {
                    if(Data)
                        $("idOut").value="Error: "+Data.text;
                    else
                        $("idOut").value="Error";
                }

            });
        }

    </script>
</head>
<body>

<B>Priv key:</B>
<INPUT type="search" id="idPrivKey" value="7AF1726733E39D95DD7E9DAD1F6F2B76D0477B3B604439B1353B97BC24A72844" style="width: 600px"><BR>
<B>Tx</B> (after each transaction is sent, the OperationID number is increased by 1):<BR>
<textarea id="idTr" rows="20" cols="98">
{
    "Type": 111,
    "Version": 3,
    "Reserve": 0,
    "FromID": 189115,
    "OperationID": 2,
    "To": [
        {
            "PubKey": "",
            "ID": 9,
            "SumCOIN": 0,
            "SumCENT": 1
        }
    ],
    "Description": "Test",
    "Body": "",
    "Sign": ""
}
</textarea><BR>
<B>Actions:</B><BR>
<button onclick="SignTr()">Sign Tx</button>
<button onclick="GetHexFromTr()">Get Hex</button>
<button onclick="SendTr()">Send tx</button>

<BR><B>Result:</B><BR>
<textarea id="idOut" rows="20" cols="98"></textarea>
</body>
</html>